@media (prefers-reduced-motion: reduce) { 
*,*::before, *::after { animation: none !important; 
transition: none !important; } }



@font-face {
    src: url("fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.woff2") format("woff2");
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    }


.nunito-sans{
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
    
    body{
    background-color: #E3FF94;
    background-size: cover;
    font-family: 'Nunito Sans';


}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    /* where to change the width of the columns on desktop view */
    width: min(100% - 3rem, 95ch);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 9fr 0fr;
grid-template-rows: auto;
grid-template-areas: 
    "v h"
    "a a";
}

#history {
    grid-area: v; /* This tells 'History' to sit in the first column ('v') */
}

#variations{
grid-area: v;
}

#alphabet {
grid-area: a;
}
}
/* CSS for the footer */
footer{
    background-color: #d9d9d9;
    height:200px;
    margin-bottom: 500px;
    margin-top: 700px;
}

/* font styling area */

h1{
   color: #000000;
    font-variation-settings:  "opsz" 12, "wght" 800, "wdth" 100, "ytlc" 500;
    font-size: 20px;
    margin-top: 5px;
}
h2{
    color: #000000;
    font-variation-settings:  "opsz" 12, "wght" 800, "wdth" 100, "ytlc" 500;
    font-size: 80px;
    margin-top: -10px;
}

h3{
    font-size: 286px;
    margin-left: 104px;
    margin-top: 65px;
    color: #335CFF;
}

h4{
   font-size: 70px;
   margin-left: 830px;
   margin-top: -650px;
   color: #865fae;
}

h5{
   font-size: 80px;
   color: #000000;
   font-variation-settings:  "opsz" 12, "wght" 800, "wdth" 100, "ytlc" 500;
   margin-top: 550px;
}

.history-para {
 margin-top: -65px;
 font-size: 20px;
}

.letter-text{
  font-size: 20px;
   margin-top: -140px;
}

.languages-text{
  margin-top: -10px;
  font-size: 20px; 
}

.rotate{
  color: #C891FF
}

.axes{
  font-size: 20px;
  margin-top: -140px;
}

.character{
font-size: 80px;
   color: #000000;
   font-variation-settings:  "opsz" 12, "wght" 800, "wdth" 100, "ytlc" 500;
   margin-top: 330px;
}

/*Number Styling*/

.numbers-bg span {
  position: absolute;
  font-size: 500px;
  font-weight: 800;
  color: black;
  line-height: 1;
}

.one {
  bottom: -2033px;
  right: 769px;
  font-variation-settings:  "opsz" 12, "wght" 700, "wdth" 100, "ytlc" 500;
}

.two {
  bottom: -2033px;
  right: 530px;
  font-variation-settings:  "opsz" 12, "wght" 200, "wdth" 100, "ytlc" 500;

}

.three {
  bottom: -2033px;
  right: 293px;
  font-variation-settings:  "opsz" 12, "wght" 500, "wdth" 100, "ytlc" 500;
  font-style:italic;
}

.four {
  bottom: -2033px;
  right: 0px;
   font-variation-settings:  "opsz" 12, "wght" 900, "wdth" 100, "ytlc" 500;
}

.five {
  bottom: -2400px;
  left: -75px;
}

.six {
  bottom: -2400px;
  left: 180px;
}

.seven {
  bottom: -2400px;
  left: 430px;
}

.eight {
  bottom: -2400px;
  left: 655px;
}

.nine {
  bottom: -2400px;
  right: 235px;
}

.zero {
  bottom: -2400px;
  right: -20px;
}

.hero{
  align-self: start;
}



.S, .a, .n2, .s1 {
 position: relative;
 top: -184px; /* adjust this value */
}

.N {
  font-variation-settings: "wght" 300, "wdth" 90, "opsz" 8, "ytlc" 500;
  font-style:italic;
  margin-left: -25px;
}

/* LIGHT */
.u {
  font-variation-settings:  "wght" 1000, "wdth" 125, "opsz" 6, "ytlc" 540;
  margin-left: -49px;
}

/* REGULAR */
.n1 {
  font-variation-settings: "wght" 800, "wdth" 75, "opsz" 12, "ytlc" 440;
  font-style:italic; 
  margin-left: -75px;
}

/* BOLD */
.i {
  font-variation-settings: "wght" 500, "wdth" 75, "opsz" 8, "ytlc" 540;
  margin-left: -54px;
}

.t {
  font-variation-settings: "wght" 200, "wdth" 100, "opsz" 6, "ytlc" 540;
font-style:italic;
margin-left: -105px;
}

.o {
  font-variation-settings: "wght" 900, "wdth" 125, "opsz" 12, "ytlc" 440;
  margin-left: -40px;
}

.S {
  font-variation-settings: "wght" 700, "wdth" 125, "opsz" 12, "ytlc" 500;
  margin-left: -17px;
}

.a {
  font-variation-settings: "wght" 400, "wdth" 75, "opsz" 12, "ytlc" 440;
  margin-left: -60px;
}

.n2 {
  font-variation-settings: "wght" 200, "wdth" 115, "opsz" 9, "ytlc" 500;
  font-style:italic;
  margin-left: -90px;
}

.s1 {
  font-variation-settings: "wght" 600, "wdth" 85, "opsz" 10, "ytlc" 540;
  font-style:italic;
  margin-left: -67px;
}

/*Box Color*/
.box {
  padding: 20px;             /* space inside the box */
  width: 1440px;              
  height: 900px;
  margin-top: -900px;
  background-color: #C891FF; 
}

/* Overall sizing */
.hero-type {
  font-size: 6rem;
  line-height: 0.8;
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 6, "wght" 200, "wdth" 75, "ytlc" 440;
    }
    50%{font-variation-settings: "opsz" 12, "wght" 1000, "wdth" 125, "ytlc" 540;
    }
}
/* animations for the variations section */
.weight{
    animation: weightVariations 5s infinite;
}
@keyframes weightVariations {
    0%, 100%{
        font-variation-settings: "opsz" 6, "wght" 200, "wdth" 75, "ytlc" 440;
    }
    50%{font-variation-settings: "opsz" 12, "wght" 1000, "wdth" 125, "ytlc" 540;
    }
}
/* where the animation is for the width change */
.width{
    animation: widthVariations 5s infinite;
}
@keyframes widthVariations {
    0%, 100%{
        font-variation-settings: "opsz" 6, "wght" 200, "wdth" 75, "ytlc" 440;
    }
    50%{font-variation-settings: "opsz" 12, "wght" 1000, "wdth" 125, "ytlc" 540;
    }
}
 
.marquee-container {
  overflow: hidden;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.marquee-track span {
  font-size: 70px;
  white-space: nowrap;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/*Scroll Banner Box*/
.marquee-track {
  background-color: #335CFF; 
  padding: 10px;             /* space inside */
  display: inline-block;     
}

.second-marquee{
  transform: translateY(1200px);
}

h6{
    font-size:40px;
    color:#000000;
    margin:15px;
    margin-left: 0px;
}

/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

